@page "/mqtt" 

<h3>mqtt Hello</h3>


@code {

    
    // private string message = "Hello I am me";
    // private List<string> messages = new();

    // protected override void OnInitialized()
    // {
    //     MqttService.Connect();

    //     MqttService.OnMessageReceived += (msg) =>
    //     {
    //         InvokeAsync(() =>
    //         {
    //             messages.Add(msg);
    //             StateHasChanged();
    //         });
    //     };
        
    // }

    // private void PublishMessage()
    // {
    //     MqttService.PublishMessage("test/uma", message);
    // }

    // private void SubscribeToTopic()
    // {
    //     Console.WriteLine("in subscribe");
    //     MqttService.SubscribeToTopic("test/uma");
    // }


}
